.App {}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.ant-layout-sider-collapsed .App-logo {
  width: 64px;
  transition: width .3s;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #108ee9;
}
